<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stationary Shop</title>
    <script src="https://unpkg.com/vue@2.5.17"></script>
</head>

<body>
    <div id="app">
        <h1>Stationary Shop</h1>
        <div>
            <ul>
                <li v-for="item in items" v-bind:key="item.name">{{ item.name }}: {{ item.price }} × <input
                        type="number" v-model="item.quantity" min="0">
                    = {{ item.price * item.quantity | numberWithDelimiter }}円</li>
            </ul>
            <p>小計: {{ totalPrice | numberWithDelimiter }}</p>
            <p :style="{color: 'blue'}">税込: {{ totalPriceWithTax | numberWithDelimiter }}円</p>
            <p v-show="!canBuy" :style="errorMessageStyle">{{ 1000 | numberWithDelimiter
                }}円以上からご購入いただけます</p>
            <button v-bind:disabled="!canBuy" @click="doBuy">購入</button>
        </div>
    </div>

    <script src="main.js"></script>
</body>

</html>