body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.btnContainer {
    position: fixed;
    bottom: 24px;
    right: 24px;
}